html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.container {
  background-image: url("theater.jpg");
  height: 100vh;
  background-size: contain;
}
.upvoted {
  color: green;
}

.downvoted {
  color: red;
}

.thumb-button {
  color: grey;
}

.nav-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.nav {
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 30px;
}
