html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.nav {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.nav:hover {
  color: gray;
}

.landing-container {
  text-align: center;
  background-image: url("theater.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 15px;
  font-size: 25px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 8px;
  border: none;
  padding: 5px;
  padding-left: 10px;
  font-size: 15px;
  margin-bottom: 15px;
}

button {
  background-color: white;
  border: none;
  border-radius: 8px;
  height: 40px;
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
  background-color: gray;
}

.pagination button {
  height: 25px;
  padding: 5px;
  margin: 0;
}

.pagination span {
  margin-left: 8px;
  margin-right: 8px;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  border-radius: 20px;
}

.result-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  width: 200px;
  color: white;
}

.poster-result {
  margin-top: 15px;
  height: 200px;
  width: 130px;
  background-color: white;
  display: flex;
}

.poster-result span {
  align-self: center;
  margin: 10px;
}

/* Movie Details */

.movie-details-container {
  display: flex;
  margin-left: 15px;
}

.details {
  display: flex;
}

.details-inner {
  max-width: 50vw;
  margin-left: 20px;
}

.title {
  font-size: 25px;
}

.thumb-buttons {
  font-size: 30px;
}

.thumb-button {
  margin-left: 10px;
  margin-right: 25px;
}

.thumb-button:hover {
  color: gray;
}

.upvoted {
  color: green;
}

.upvoted:hover {
  color: darkgreen;
}

.downvoted {
  color: red;
}

.downvoted:hover {
  color: darkred;
}
